<a href="https://colab.research.google.com/github/r0cketr1kky/Median_paper/blob/master/newmedian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
class User:
  def __init__(self, id, inp):
    self.partner_id = id
    self.input1 = inp
    self.ran = np.random.randint(1, 2**63)

In [0]:
class Computations:

  def __init__(self, user: User):
    self.user = user
  
  def operation1(self):
    out_inp1 = self.user.input1 + self.user.ran
    return out_inp1
      
  def operation2(self):
    out_inp2 = self.user.input1 - self.user.ran
    return out_inp2

In [0]:
alice = User(1, 5)

In [0]:
bob = User(2, 7)
bob.ran = alice.ran

In [202]:
x = Computations(alice)
x = x.operation1()
x

425720592324758623

In [203]:
y = Computations(bob)
y = y.operation2()
y

-425720592324758611

In [204]:
x + y

12

In [0]:
odd_list = []
even_list = []

for i in range(1000):
  if i % 2 == 0:
    #print(i)
    even_list.append(i)
  else:
    odd_list.append(i)

#print(even_list)
#print(odd_list)

In [0]:
# EACH USER HAS VALUE AS THEIR RESPECTIVE IDs
users_list = []
for i in range(1000):
  users_list.append(User(i, i))
#users_list

In [0]:
# CALCULATING SUM
for i in range(1000):
  if i % 2 == 0:
    x = users_list[i]
    continue
  else:
    y = users_list[i]

  y.ran = x.ran

  val1 = Computations(x).operation1()
  val2 = Computations(y).operation2()

  #print(val1 + val2) # THIS LINE GIVES US 0+1, 2+3, 4+5 and so on....It works!!

In [0]:
# CALCULATING MEDIAN
def find_median(users_list):
  med = 0

  for i in range(1000):
    if i % 2 == 0:
      x = users_list[i]
      continue
    else:
      y = users_list[i]

    y.ran = x.ran

    val1 = Computations(x).operation1()
    val2 = Computations(y).operation2()
    #print(val1)
    #print(val2)
    
    if val1 >= 0:
      med += 1
    else:
      med -= 1
      #print(val1)
    
    if val2 >= 0:
      med += 1
    else:
      med -= 1
      #print(val2)
  
  return med

In [0]:
class User:
  def __init__(self, id, inp):
    self.partner_id = id
    self.input1 = inp
    self.ran = np.random.randint(1, 2**63)

In [0]:
user_list1 = []

for i in range(1000):
  user_list1.append(User(i, i + 1))  # Input values incremented by 1

In [0]:
#print(user_list1[-1].input1)
#print(user_list1[-1].ran)

In [227]:
find_median(user_list1)

0

In [0]:
user_list2 = []

for i in range(1000):
  user_list2.append(User(i, i - 1))  # Input values decremented by 1

In [229]:
find_median(user_list2)

0

In [0]:
user_list3 = []

for i in range(1000):
  user_list3.append(User(i, i + i))  # Input values incremented by the number itself

In [231]:
find_median(user_list3)

0

In [0]:
user_list4 = []

for i in range(1000):
  user_list4.append(User(i, i*i))  # Input values multiplied by itself

In [233]:
find_median(user_list4)

0

In [0]:
user_list5 = []

for i in range(1000):
  user_list5.append(User(i, i - i))  # Input values decremented by itself, i.e. i/p is zero

In [235]:
find_median(user_list5)

0

In [0]:
user_list6 = []

for i in range(1000):
  if i % 2 == 0:
    user_list6.append(User(i, i)) 
  else:
    user_list6.append(User(i, -i))

In [237]:
find_median(user_list6)

0

In [0]:
class User:
  def __init__(self, id, inp):
    self.partner_id = id
    self.input1 = inp
    self.ran = np.random.randint(1, 10) # Choosing a random integer between 1 and 10

In [0]:
user_list6 = []

for i in range(1000):
    user_list6.append(User(i, -20)) # All users have the same input -20

# As I'm choosing a random int b/w 1 and 10, note that -20 + 10(the max value of the range) = -10 which is < 0.
# Result should be -1000, as m decrements for every value

In [242]:
find_median(user_list6)

-1000

In [0]:
# BETA DISTRIBUTION

In [0]:
class User:
  def __init__(self, id, inp):
    self.partner_id = id
    self.input1 = inp
    self.ran = np.random.beta(0.5, 0.5)*10 # Random sampling with Beta Distribution

In [0]:
user_list = []

for i in range(1000):
  if i % 2 == 0:
    user_list.append(User(i, -i))
  else:
    user_list.append(User(i, i))

In [249]:
find_median(user_list)

2