<a href="https://colab.research.google.com/github/r0cketr1kky/Median_paper/blob/master/updatedmedian_start.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
class User:
  def __init__(self, id, inp):
    self.partner_id = id
    self.input1 = inp
    self.ran = np.random.randint(1, 2**63)

In [0]:
class Computations:

  def __init__(self, user: User):
    self.user = user
  
  def operation1(self):
    out_inp1 = self.user.input1 + self.user.ran
    return out_inp1
      
  def operation2(self):
    out_inp2 = self.user.input1 - self.user.ran
    return out_inp2

In [0]:
alice = User(1, 5)

In [0]:
bob = User(2, 7)
bob.ran = alice.ran

In [250]:
x = Computations(alice)
x = x.operation1()
x

2743626835656077266

In [251]:
y = Computations(bob)
y = y.operation2()
y

-2743626835656077254

In [252]:
x + y

12

In [0]:
odd_list = []
even_list = []

for i in range(1000):
  if i % 2 == 0:
    #print(i)
    even_list.append(i)
  else:
    odd_list.append(i)

#print(even_list)
#print(odd_list)

In [0]:
# EACH USER HAS VALUE AS THEIR RESPECTIVE IDs
users_list = []
for i in range(1000):
  users_list.append(User(i, i))
#users_list

In [0]:
# CALCULATING SUM
for i in range(500):
  if i % 2 == 0:
    x = users_list[i]
    continue
  else:
    y = users_list[i]

  y.ran = x.ran

  val1 = Computations(x).operation1()
  val2 = Computations(y).operation2()

  #print(val1 + val2) # THIS LINE GIVES US 0+1, 2+3, 4+5 and so on....It works!!

In [289]:
# CALCULATING MEDIAN
med = 0
for i in range(500):
  if i % 2 == 0:
    x = users_list[i]
    continue
  else:
    y = users_list[i]

  y.ran = x.ran

  val1 = Computations(x).operation1()
  val2 = Computations(y).operation2()

  if val1 + val2 >= med:
    med += 1
  else:
    med -= 1

print(med)

250